$main-color: #0056b3;

@import 'buttons';
@import 'projects';
@import 'boards';

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.custom-icon {
    position: relative;
    top: 3px;
}